In [ ]:
!pip install pandas
import pandas as pd
pd.__version__

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.22.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

'1.5.3'

In [ ]:
import numpy as np
np.__version__

'1.22.4'

Numpy
1 Dimensao -> vetores
2 Dimensoes -> matriz

Pandas
1 Dimensao -> series
2 Dimensoes -> DataFrame

In [ ]:
lista = [1,2,3,4,5]
serie = pd.Series(lista)
serie

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
type(serie.values)

numpy.ndarray

In [ ]:
serie.index

RangeIndex(start=0, stop=5, step=1)

In [ ]:
serie.dtype

dtype('int64')

In [ ]:
serie.astype(str).values

array(['1', '2', '3', '4', '5'], dtype=object)

In [ ]:
serie

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
serie * 2

0     2
1     4
2     6
3     8
4    10
dtype: int64

In [ ]:
lista = [
    'maisena',
    'farinha',
    'açucar',
    'ovos',
    'manteiga',
    'castanha'
]
ingredientes = pd.Series(lista, name='ingredientes')
ingredientes

0     maisena
1     farinha
2      açucar
3        ovos
4    manteiga
5    castanha
Name: ingredientes, dtype: object

In [ ]:
dados = [200, 250, 100, 2, 150, 180]
indice = ingredientes.copy()
qtd = pd.Series(data=dados, index=indice, name='quantidade')
qtd

ingredientes
maisena     200
farinha     250
açucar      100
ovos          2
manteiga    150
castanha    180
Name: quantidade, dtype: int64

In [ ]:
df = pd.DataFrame(data={
    "ingredientes": ingredientes,
    "qtd": qtd.values
})
df

  ingredientes  qtd
0      maisena  200
1      farinha  250
2       açucar  100
3         ovos    2
4     manteiga  150
5     castanha  180

In [ ]:
df.values

array([['maisena', 200],
       ['farinha', 250],
       ['açucar', 100],
       ['ovos', 2],
       ['manteiga', 150],
       ['castanha', 180]], dtype=object)

In [ ]:
df.to_dict()

{'ingredientes': {0: 'maisena',
  1: 'farinha',
  2: 'açucar',
  3: 'ovos',
  4: 'manteiga',
  5: 'castanha'},
 'qtd': {0: 200, 1: 250, 2: 100, 3: 2, 4: 150, 5: 180}}

In [ ]:
df.columns

Index(['ingredientes', 'qtd'], dtype='object')

In [ ]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [ ]:
df.dtypes

ingredientes    object
qtd              int64
dtype: object

In [ ]:
df['ingredientes']

0     maisena
1     farinha
2      açucar
3        ovos
4    manteiga
5    castanha
Name: ingredientes, dtype: object

In [ ]:
df['qtd']

0    200
1    250
2    100
3      2
4    150
5    180
Name: qtd, dtype: int64